h4 {
    color: gray;
    margin-left: 15px;
}

.navbar-brand:first-child {
    font-size: 2em;
}

h1 {
    text-align: center;
}

h1 + div {
    display: inline-block;
}

caption {
    caption-side: top;
    color: black;
}

tr:first-of-type {
    background: #dddddd;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    padding: 5px;
}

tr:last-child {
    background: #eeeeff;
}

.not-finished {
    background: #ffeeff;
}

.finished {
    background: #eeffee;
}

td:first-child {
    width: 30%;
}

table ~ button {
    display: flex;
}

.unauthorized {
    font-size: large;
    text-align: center;
}
